include ./modules/**/*.jade
include ./helpers/*.jade

extends ./layouts/simple

block meta
  //- TODO: add you page meta tags
block body
  .page-header
    h1 Index

    h2 Pages
    - var pages = ['home', 'demo']

  .row
    each page in pages
      .col-lg-4.col-sm-6.col-xs-12.preview
        a(href="pages/#{page}.html", class="btn btn-primary btn-preview")= page
        iframe.content(src="pages/#{page}.html")

  .row
    h2 Modules
    - var modules = [ 'demo', 'navigation' ]

    each module in modules
      
      a(href="modules/#{module}/layout.html")= module
      | 
