doctype
html( lang="en" )
  head

    include partials/_head

    block meta

    title
      block title
        | FrontEnd
      
  body(style="margin-bottom: 60px;")
    include ../modules/navigation/layout
    block header

    .container
      block body

    footer.footer
      block footer

  include partials/_scripts
