doctype html

html
	head
		include partials/_head

		block meta

		title
			block title
				| FrontEnd
		//- TODO: Favicons
	body

		include ../modules/navigation/layout

		.js-page
			block header

			main.l-main(id="main", role="main")
				block body

			.site-footer
				block footer



		include partials/_scripts
