doctype
html( lang="en" )
  head

    include partials/_head

    block meta

    title
      block title
        | FrontKit
      
  body
    include ../modules/navigation/layout
    block header

    .container
      block body

    footer.footer
      block footer

  include partials/_scripts
