doctype
html( lang="en" )
  head

    include partials/_head

    block meta
    link(rel='stylesheet', href='css/main.min.css')

    title
      block title
        | FrontKit
      
  body
    block header

    .container
      block body

    footer.footer
      block footer

  include partials/_scripts
